# binary and IDE/project excludes
target/
AutomatedHadoopDeployment/target/
AutomatedHadoopDeployment/.idea/
AutomatedHadoopDeployment/AutomatedHadoopDeployment.iml
**/AutomatedHadoopDeployment.iml
.gitignore


# Java excludes
*.class

# Package Files #
*.jar
*.war
*.ear
