# binary and IDE/project excludes
target/
Kobenhavn-2/target/
Kobenhavn-2/.idea/
Kobenhavn-2/Kobenhavn-2.iml
**/Kobenhavn-2.iml
.gitignore


# Java excludes
*.class

# Package Files #
*.jar
*.war
*.ear
